<app-loader></app-loader>
<div style="text-align:center">
  <div class="host-picker-root-container">
    <app-host-picker-root></app-host-picker-root>
  </div>
</div>
<h2>Here are some links to help you start:</h2>
<ul>
  <li>
    <h2>
      <button class="rasied-button" mat-raised-button (click)="onFacelClick()">
        <i class="material-icons">face</i>
      </button>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>
