.device-selector-container {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .close-container {
    display: flex;
    justify-content: flex-end;
  }
  .device-iterator {
    margin-bottom: 5px;
  }
}

.mat-menu-content {
    padding-top: 0px !important;
}
