.os-card {
  width: 500px;
  min-height: 100px;
  display: flex;
  margin-top: 10px;

  .titles-container {
    width: 30%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    span {
      font-weight: bold;
    }
  }

  .hosts-container {
    display: flex;

    .devices-container {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 10px;

      .selected-device-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
