<mat-card class="os-card">
  <div class="titles-container">
    <span>{{osTypeValue}}</span>
  </div>
  <div class="hosts-container">
    <span>Hosts:</span>
    <div class="devices-container">
      <div *ngFor="let selectedDevice of selectedDevices" class="selected-device-container">
        <span>{{selectedDevice.host}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="removeDevice(selectedDevice)">
          <i class="material-icons">remove</i>
        </button>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onOpenRequested()">
        <i class="material-icons">add</i>
      </button>
      <mat-menu #menu="matMenu">
        <app-device-selector [devices]="devices$ | async" (closeRequested)="onCloseRequested()"
          (deviceSelected)="onDeviceSelected($event)" [selectedDevices]="selectedDevices"></app-device-selector>
      </mat-menu>
    </div>
  </div>
</mat-card>
